label.btn{
    input{
        display: none!important;
    }
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    @include transition(0.3);
    @include inline-flex;
    @include align-items(center);
    @include justify-content(center);
    &__blanco{
        padding-top: 12px;
        font-size: 1.1rem;
        border: 1px solid $blanco;
        color: $blanco;
        &:hover{
            background-color: $blanco;
        }
    }
}
